{{- define "main" }}
{{- with site.Params.aboutMe }}
<article class="post-single">
  
  <div class="post-content">
    
    <h1> About Me </h1>

    {{ .heading | markdownify }}
    <br>
    <br>
    {{ .Content | markdownify }}
    
  </div>

  <br>
  <br>

  <div class="post-content">
    <h1>Work Experience</h1>
  </div>
  
  <div class="timeline">
    <ul>
      
        <li>
            <div class="date">
                <h4>Aug 2020 - Present</h4>
            </div>
            <div class="point"></div>
            <div class="content">
                <img src="/qualcomm_logo.jpeg" width="60px" class="content_logo"></img>
                <p class="content_desc"><b>[Full-Time] </b>Working with Qualcomms Neural Processing (QNN) SDK team, where we optimize trained models for on-device inference and performance on Qualcomm devices. Currently, I focus on the automotive business unit working on next-gen automotive chipset from Qualcomm. Worked on identifying the issues in model performance and suggest various optimization to improve the KPIs</p>
            </div>
        </li>

        <li>
            <div class="date">
                <h4>Dec 2019 - May 2020</h4>
            </div>
            <div class="point"></div>
            <div class="content">
                <img src="/tcs_logo.jpeg" width="60px" class="content_logo"></img>
                <p class="content_desc"><b>[Internship] </b>Developed a framework in C/C++ to accelerate linear algebra and signal processing algorithms using OpenCL for heterogeneous devices. The framework was designed to utilize the DSP and GPU to improve the performance of the algorithms. Performance of the system was evaluated using Andreno GPU and Intel FPGAs.</p>
            </div>
        </li>

        <li>
            <div class="date">
                <h4>May 2019 - Jul 2019</h4>
            </div>
            <div class="point"></div>
            <div class="content">
                <img src="/elucidata_logo.jpeg" width="60px" class="content_logo"></img>
                <p class="content_desc"><b>[Internship] </b>During my internship, made significant contributions to the cloud infrastructure. Secondly, automated the build, test, and deployment workflows. By creating robust pipelines for Continuous Integration and Continuous Deployment, we streamlined the development process. Additionally, containerized our applications using Docker images, eliminating cross-platform compatibility issues.</p>
            </div>
        </li>

        <li>
            <div class="date">
                <h4>May 2018 - Jul 2018</h4>
            </div>
            <div class="point"></div>
            <div class="content">
                <img src="/philips_logo.jpeg" width="60px" class="content_logo"></img>
                <p class="content_desc"><b>[Internship] </b>Worked in Philips’ innovation team in Bangalore, where I developed a pipeline to systematically interact with authoring kit APIs. This pipeline matched user query intents using Keras-trained Intent Classification models. Additionally, I extracted named entities (such as names, locations, and organizations) from unstructured text to anonymize personal data using Keras models.</p>
            </div>
        </li>
      
    </ul>
  </div>

</article>
{{- end }}
{{- end }}{{/* end main */}}
