{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    
    <header class="entry-header">
        <h1> <p style="color: #A34343;">[~]$</p> {{ .Title | markdownify }} </h1>
    </header>
    
    <div class="entry-content">
        <div class="entry-content-row">
            <div class="entry-content-column left">
                {{ .Content | markdownify }} <u> <a href="{{ .About | markdownify }}">Read more..</a> </u>
                <br>
                <br>
                You can reach out to me at <b>{{ .MailInfo | markdownify }}</b>.
            </div>
            <div class="entry-content-column right">
                <img src="/profile.jpg" width="250px" style="border:3px solid #000000; border-radius: 3%">
            </div>
        </div>
    </div>

    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}
